ComputerService_Host/Connected Services/ComputerService/ComputerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/wcf_assignment_3/ComputerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService_8703133" />
  <xs:element name="AddComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService_8703133" minOccurs="0" name="computer" nillable="true" type="q1:Computer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddComputerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService_8703133" minOccurs="0" name="computer" nillable="true" type="q2:Computer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateComputerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteComputerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService_8703133" minOccurs="0" name="GetComputerResult" nillable="true" type="q3:Computer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComputers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComputersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService_8703133" minOccurs="0" name="GetAllComputersResult" nillable="true" type="q4:ArrayOfComputer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBrands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService_8703133" minOccurs="0" name="GetAllBrandsResult" nillable="true" type="q5:ArrayOfBrand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService_8703133" minOccurs="0" name="GetAllOsesResult" nillable="true" type="q6:ArrayOfOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>