ComputerService_Host/Connected Services/ComputerService/ComputerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService_8703133" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService_8703133" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Computer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayResolution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HardDrive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Os" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Ram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreenSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uuid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Computer" nillable="true" type="tns:Computer" />
  <xs:complexType name="ArrayOfComputer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Computer" nillable="true" type="tns:Computer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComputer" nillable="true" type="tns:ArrayOfComputer" />
  <xs:complexType name="ArrayOfBrand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Brand" nillable="true" type="tns:Brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrand" nillable="true" type="tns:ArrayOfBrand" />
  <xs:complexType name="Brand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Brand" nillable="true" type="tns:Brand" />
  <xs:complexType name="ArrayOfOS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OS" nillable="true" type="tns:OS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOS" nillable="true" type="tns:ArrayOfOS" />
  <xs:complexType name="OS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OS" nillable="true" type="tns:OS" />
</xs:schema>